# Maven/Gradle build output
target/
.mvn/
build/
!**/src/main/**/target/
!**/src/test/**/target/

# Node.js dependencies
# ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
# ★ 就是在這裡！新增這一行來忽略 node_modules ★
# ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
node_modules/

# IDE specific files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/
.vscode/
.DS_Store

# Log files
logs/
*.log

# Operating System files
.DS_Store
Thumbs.db
